# Build Artifacts
*.o
*.elf
*.a
*.map

# Game Boy Advance ROMs & Saves
*.gba
*.sav

# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Original PC Terraria Game files / External dumped assets
Terraria Beta/
DumpedAssets/
TExtract/
classes/
IMPORTANT! - INSTALL THIS FIRST/

# Windows Executables, DLLs, and associated
*.exe
*.dll
*.cdf-ms
*.manifest

# IDE & OS Files
.vscode/
.vs/
.idea/
.DS_Store
Thumbs.db
